.explorer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 9em);
  grid-auto-rows: 9em;
  gap: 0.5em;
  margin-bottom: 1em;
}

.document-sections-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 0.5em;
  overflow-y: auto;
}
