.fields {
  padding: 0.5em;
}

.form-container {
  margin: auto;
  max-width: 60ch;
  width: 100%;
  text-align: center;
  * + hr {
    margin-top: 1em;
  }
}

form {
  background-color: var(--color-background-mute);
  width: calc(100%);
}

.form-field {
  padding-bottom: 1em;
}
.form-input {
  padding-bottom: 1em;
}

.label {
  text-align: end;
}

.input-container {
  gap: 1em;
  display: grid;
  grid-template-columns: 7ch 3fr;
  width: 100%;
  justify-items: right;
}

.radio-container {
  gap: 1em;
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-items: right;
}

.dropdown {
  position: relative;
  background-color: var(--color-background);
  padding: 0 0.5em;
  width: fit-content;
  display: flex;
  align-items: center;
}
.dropdown-panel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-background);
  padding: 0em 0em;
}
.selected {
  background-color: var(--color-background-soft);
  padding: 0 0.5em;
}
