.editor-container {
  padding: 0 0.5em 0.5em 0.5em;
  background-color: var(--color-background-mute);
  text-align: start;
  height: 100%;
  font-family: Dosis;
}

.btn.active {
  filter: brightness(1.2);
}

.editor-content {
  background-color: var(--color-background-soft);
}

.editor-controls {
  display: flex;
  gap: 3px;
}

.section-container {
  background-color: var(--color-background-mute);
}

.folder-link {
  &::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f07b";
    padding-right: 0.125em;
  }
}

.document-link {
  &::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f15b";
    padding-right: 0.125em;
  }
}
