.title {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-background-mute);
}

.home:hover {
  background-color: var(--color-secondary-soft);
}

main {
  padding: 1em;
}

.create-world-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}
